@media only screen and (max-width: 479px){
@font-face {
    font-family: 'hagin_caps_mediumregular';
    src: url('../fonts/hagin_caps_medium-webfont.eot');
    src: url('../fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hagin_caps_medium-webfont.woff') format('woff'),
         url('../fonts/hagin_caps_medium-webfont.ttf') format('truetype'),
         url('../fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
		
	@font-face {
		font-family: 'bodoniflfregular';
		src: url('../fonts/bodoniflf-roman-webfont.eot');
		src: url('../fonts/bodoniflf-roman-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bodoniflf-roman-webfont.woff') format('woff'),
			 url('../fonts/bodoniflf-roman-webfont.ttf') format('truetype'),
			 url('../fonts/bodoniflf-roman-webfont.svg#bodoniflfregular') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	

h2{
	font-family: 'hagin_caps_mediumregular';	
}

h1{
	font-family: 'hagin_caps_mediumregular';	
	font-weight:normal;
}


body{
	height: 480px;
	width: 320px;
	background-image:url(../image/background-kits.png);
	background-repeat:no-repeat;	
	overflow: hidden;
}

#topborder{
	position: fixed;
	top:0px;
	float: left;	
	width: 320px;
	height: 35px;
}
#topborder img{
	position: fixed;
	top: 0px;
	float: left;	
	width: 320px;
	height: 35px;
}

#bottomborder{	
	position: fixed;
	width: 320px;
	height: 35px;
	top: 445px;
	z-index: 1000;
}
#bottomborder img{	
	width: 320px;
	height: 35px;
}


#prev{
	position: fixed;
	top: 5px;	
	left: 70px;
}
#prev img{
	height: 20px;	
}
#next{
	position: fixed;
	top: 5px;	
	left: 210px;
}
#next img{
	height: 20px;	
}



.navlinks{
	position:fixed;
	float: left;
	top: 450px;
	z-index: 1001;
}

.navlinks a img{
	height: 25px;
	width: 25px;
}

#home{
	left: 100px;
}

#kits{
	left: 150px;
	
}

#contact{
	left: 200px;
	
}




.nav{
	font-family: 'hagin_caps_mediumregular';
	position: fixed;
	background-color:#000000;
	opacity: 0;
	width: 260px;
	height: 260px;
	margin-left: 30px;	
	margin-top:500px;
	z-index:1000;
}
	
.nav a{
	/*opacity: 1;*/
	line-height: 30px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
}

.nav ul{
	/*margin-top: 20px;*/
	text-align:center;	
}
	
	


.swipe {
  padding-bottom:20px;
  position:relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  height: 440px;
  width: 315px;
  margin-left:5px;
  overflow-y: scroll;
  margin-top: 30px;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

.swipe img{
	height: 55px;
	width: 260px;
	margin-top: 5px;
}


.swipe h2{
	margin-top: -23px;	
	margin-bottom: 15px;
	margin-left:-10px;
}


#slider4{
	height: 450px;
	margin-top: 10px;
}

#slide1 h2{ /*temperate*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:107px;	
}
#slide2 h2{ /*mountain*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:113px;	
}
#slide3 h2{ /*subhumid*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:108px;	
}
#slide4 h2{/*coastal*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:120px;	
}
#slide5 h2{/*tropical*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:115px;	
}
#slide6 h2{/*tdesert*/
	position: absolute;
	margin-top: -30px;	
	margin-bottom: 15px;
	margin-left:120px;	
}

/*KITS*/

a{
	color:white;	
}

h3{
	font-size:14px;	
}

#lavender{
	background-image:url(../image/bg-lavender.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#primrose{
	background-image:url(../image/bg-primrose.png);
	height: 100px;
	width:290px;
    margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#salvia{
	background-image:url(../image/bg-salvia.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#cimicifuga{
	background-image:url(../image/bg-cimicifuga.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#hosta{
	background-image:url(../image/bg-hosta.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#hydrangea{
	background-image:url(../image/bg-hydrangea.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#marigold{
	background-image:url(../image/bg-marigold.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#yarrow{
	background-image:url(../image/bg-yarrow.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#rhubarb{
	background-image:url(../image/bg-rhubarb.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#pitcher{
	background-image:url(../image/bg-pitcher.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#serviceberry{
	background-image:url(../image/bg-serviceberry.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#sunflower{
	background-image:url(../image/bg-sunflower.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#coneflower{
	background-image:url(../image/bg-coneflower.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#willow{
	background-image:url(../image/bg-willow.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#fouroclock{
	background-image:url(../image/bg-fouroclock.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#daylily{
	background-image:url(../image/bg-daylily.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#skyvine{
	background-image:url(../image/bg-skyvine.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}

#yucca{
	background-image:url(../image/bg-yucca.png);
	height: 100px;
	width:290px;
	margin-top:0px;
	border-style:solid;
	border-width:1px;
	border-color:#000000;
}



}