@media only screen and (max-width: 479px){

body{
	height: 480px;
	width: 320px;
	background-image:url(../image/background-portrait.png);
	background-size: 100%;
	background-repeat:no-repeat;	
}

#topborder{
	position: fixed;
	float: left;	
	width: 320px;
	height: 35px;
}
#topborder img{
	position: fixed;
	float: left;	
	width: 320px;
	height: 35px;
}

#bottomborder{	
	position: fixed;
	width: 320px;
	height: 35px;
	top: 380px;
}
#bottomborder img{	
	width: 320px;
	height: 35px;
}


#prev{
	position: fixed;
	top: 5px;	
	left: 70px;
}
#prev img{
	height: 20px;	
}
#next{
	position: fixed;
	top: 5px;	
	left: 210px;
}
#next img{
	height: 20px;	
}



.navlinks{
	position:fixed;
	float: left;
	top: 385px;
	z-index: 1001;
}

.navlinks a img{
	height: 25px;
	width: 25px;
}

#home{
	left: 100px;
}

#kits{
	left: 150px;
	
}

#contact{
	left: 200px;
	
}




.nav{
	position: fixed;
	background-color:#000000;
	opacity: 0.8;
	width: 260px;
	height: 260px;
	margin-left: 30px;	
	margin-top:155px;
	z-index:1000;
}
	
.nav a{
	opacity: 1;
	line-height: 30px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
}

.nav ul{
	margin-top: 20px;
	text-align:center;	
}
	
	


.swipe {
  padding-bottom:20px;
  position:relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  height: 300px;
  width: 320px;
  margin-top: 40px;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

.swipe img{
	height: 53px;
	width: 220px;
	margin-bottom: 5px;
}

.swipe h2{
	margin-top: -30px;	
	margin-bottom: 15px;
}

}