@media only screen and (max-width: 479px){
@font-face {
    font-family: 'hagin_caps_mediumregular';
    src: url('../fonts/hagin_caps_medium-webfont.eot');
    src: url('../fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hagin_caps_medium-webfont.woff') format('woff'),
         url('../fonts/hagin_caps_medium-webfont.ttf') format('truetype'),
         url('../fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
		
	@font-face {
		font-family: 'bodoniflfregular';
		src: url('../fonts/bodoniflf-roman-webfont.eot');
		src: url('../fonts/bodoniflf-roman-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bodoniflf-roman-webfont.woff') format('woff'),
			 url('../fonts/bodoniflf-roman-webfont.ttf') format('truetype'),
			 url('../fonts/bodoniflf-roman-webfont.svg#bodoniflfregular') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	

h2{
	font-family: 'hagin_caps_mediumregular';	
}

h1{
	font-family: 'hagin_caps_mediumregular';	
}


body{
	height: 460px;
	width: 320px;
	background-image:url(../image/background-kits.png);
	background-repeat:no-repeat;	
}

#topborder{
	position: fixed;
	top:0px;
	float: left;	
	width: 320px;
	height: 35px;
}
#topborder img{
	position: fixed;
	top: 0px;
	float: left;	
	width: 320px;
	height: 35px;
}

#bottomborder{	
	position: fixed;
	width: 320px;
	height: 35px;
	top: 425px;
}
#bottomborder img{	
	width: 320px;
	height: 35px;
}


#prev{
	position: fixed;
	top: 5px;	
	left: 70px;
}
#prev img{
	height: 20px;	
}
#next{
	position: fixed;
	top: 5px;	
	left: 210px;
}
#next img{
	height: 20px;	
}



.navlinks{
	position:fixed;
	float: left;
	top: 430px;
	z-index: 1001;
}

.navlinks a img{
	height: 25px;
	width: 25px;
}

#home{
	left: 100px;
}

#kits{
	left: 150px;
	
}

#contact{
	left: 200px;
	
}




.nav{
	font-family: 'hagin_caps_mediumregular';
	position: fixed;
	background-color:#000000;
	opacity: 0;
	width: 260px;
	height: 260px;
	margin-left: 30px;	
	margin-top:500px;
	z-index:1000;
}
	
.nav a{
	/*opacity: 1;*/
	line-height: 30px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
}

.nav ul{
	/*margin-top: 20px;*/
	text-align:center;	
}
	
	


.swipe {
  padding-bottom:20px;
  position:relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  height: 430px;
  width: 320px;
  margin-top: 40px;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

.swipe img{
	height: 55px;
	width: 270px;
	margin-top: 5px;
}

.swipe h2{
	margin-top: -30px;	
	margin-bottom: 15px;
}

}