@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 479px){
@font-face {
    font-family: 'hagin_caps_mediumregular';
    src: url('../fonts/hagin_caps_medium-webfont.eot');
    src: url('../fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/hagin_caps_medium-webfont.woff') format('woff'),
url('../fonts/hagin_caps_medium-webfont.ttf') format('truetype'),
url('../fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
		
	@font-face {
		font-family: 'bodoniflfregular';
		src: url('../fonts/bodoniflf-roman-webfont.eot');
		src: url('../fonts/bodoniflf-roman-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/bodoniflf-roman-webfont.woff') format('woff'),
url('../fonts/bodoniflf-roman-webfont.ttf') format('truetype'),
url('../fonts/bodoniflf-roman-webfont.svg#bodoniflfregular') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	




body{
	font-family: 'bodoniflfregular';
	background-color:#000000;
	color: white;	
	height:400px;
	width:;
}

#pagewrap{
		background-image:url(../image/background-kits.png);
	background-attachment:fixed;
	height: 480px;
}

#bottomborder{	
	position: fixed;
	width: 320px;
	height: 80px;
	top: 435px;
	z-index: 1000;
}
#bottomborder img{	
	width: 330px;
	height: 50px;
}




.navlinks{
	position:fixed;
	float: left;
	top: 440px;
	z-index: 1001;
}

.navlinks a img{
	height: 40px;
	width: 40px;
}

#home{
	left: 80px;
}

#kits{
	left: 150px;
	
}

#contact{
	left: 220px;
	
}


.nav{
	font-family: 'hagin_caps_mediumregular';
	position: fixed;
	background-color:#000000;
	opacity: 0;
	width: 260px;
	height: 280px;
	margin-left: 30px;	
	margin-top:500px;
	z-index:1000;
}
	
.nav a{
	/*opacity: 1;*/
	line-height: 30px;
	color:#FFFFFF;
	font-size:20px;
	text-decoration:none;
}

.nav ul{
	/*margin-top: 20px;*/
	text-align:center;	
}
	
.nav li{
	margin-top:5px;	
}
	


.swipe {
  padding-bottom:;
  position:relative;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
.swipe li div, .swipe div div div {
  height: 390px;
  width: 290px;
  margin-left:5px;
  margin-top: 0px;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
}

.swipe img{
	height: 55px;
	width: 260px;
	margin-top: 5px;
}




#slider4{
	height: 400px;
	margin-top:-15px;
}
/*KITS*/

a{
	color:white;	
}

h3{
	font-size:14px;	
	
}




.header{
	position: absolute;
	height: 50px;	
	margin-top:0px;
	
	}

.header p{
	font-family: 'hagin_caps_mediumregular';
	font-size:20px;
	margin-top:-10px;
}


#container{
	padding-left: 10px;
	
}

#container p{
	font-size:14px;
	line-height:20px;
	text-align:left;
	margin-top:10px;
	
}



#container img{
	height: 150px;
	width:280px;
	margin-left:-10px;
	margin-top:30px;
	margin-bottom: px;	
	
}

#container h3{
	top:0px;	
}
.info{
	width: 280px;	
	height: 220px;
	overflow-y:scroll;
}
	
	#bhg{
	position: absolute;
	float: left;
	margin-left: 240px;
	top:430px;	
}
#bhg img{
	height: 20px;
	width: 55px;
}

#astilbe{
	width:300px;	
}