/* MOBILE STYLES: PORTRAIT */
@media only screen and (min-width: 320px) and (max-width: 479px){
	@font-face {
    font-family: 'hagin_caps_mediumregular';
    src: url('../fonts/hagin_caps_medium-webfont.eot');
    src: url('../fonts/hagin_caps_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hagin_caps_medium-webfont.woff') format('woff'),
         url('../fonts/hagin_caps_medium-webfont.ttf') format('truetype'),
         url('../fonts/hagin_caps_medium-webfont.svg#hagin_caps_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	
		
	@font-face {
		font-family: 'bodoniflfregular';
		src: url('../fonts/bodoniflf-roman-webfont.eot');
		src: url('../fonts/bodoniflf-roman-webfont.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/bodoniflf-roman-webfont.woff') format('woff'),
			 url('../fonts/bodoniflf-roman-webfont.ttf') format('truetype'),
			 url('../fonts/bodoniflf-roman-webfont.svg#bodoniflfregular') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}
	
	
	
	body{
		font-family: 'bodoniflfregular';
		background-image:url(../image/background-portrait.png);
		background-repeat:repeat-y;
		height: 420px;
	}
	
	p{
		font-size: 11pt;
		line-height: 12pt;
		text-align:justify;
	}
	#slide 1{
		height: 410px;	
	}
	
	#slide1content p{
		line-height: 13pt;	
	}
	
	#container{
		width:300px;
	}	
	
	.bounding1{
		width: 320px;
		height: 480px;
			
	}
	.bounding2{
		width: 320px;
		height: 480px;
			
	}
	
	.topborder{
		position:absolute;
		float: left;	
	}
	
	.topborder img{
		width:320px;	
	}
	
	.bottomborder{
		position:absolute;
		float:left;
	}
	
	.bottomborder img{
		width:320px;	
	}
	

	
	#welcome{
		height: 480px;

	}
	
	#welcome img{
		position:absolute;
		float: left;
		width: 250px;
		margin-left:35px;
		margin-top: 30px;
	}
	
	#contentbox img{
		position:absolute;
		left: 20px;	
		top: 30px;
		height: 280px;
		
	}
	
	#welcomecontent{
		float:left;	
		width: 100px;
		height: 480px;
	}
	
	
	#logo{
		width:180px;
	}	
	#logo img{
		float: left;
		position:absolute;
		width: 210px;	
		padding-left: 25px;
		padding-top:20px;
		
	}
	
	#welcomecontent p{
		float: left;
		position:absolute;
		color:#fff;
		left: 60px;
		top: 230px;
		font-size:14px;
		text-align:center;
	}
	
	#moreinfo img{
		position:absolute;
		top: 240px;
		left: 150px;
		float: left;
		height:20px;
		width:65px;	
	}
	
	#begin img{
		width: 130px;	
		position: absolute;
		top:300px;
		left: 60px;
	}
	
	
	#slide1top{
	}
	
	h2{
		font-family: 'hagin_caps_mediumregular';
	}
	
	#header{
		position:absolute;
		float:left;
		color: white;
		left: 140px;	
		margin-top: 10px;
	}
	
	#slide1bottom{
		top: 925px;
	}
	
	#slide1{
		width: 320px;
		height: 480px;
	}
	
	#slide1 img{ /*sqcontentbox*/
		position:absolute;
		float: left;
		width: 280px;
		margin-left:20px;
		margin-top: 100px;
	}
	
	#slide1content{ /*p*/
		font-size:10pt;
		color:white;
		position:absolute;
		float: left;	
		left:40px;
		margin-top: 120px;
		width: 240px;
		
	}
	
	#navigation img{
		position:absolute;
		float:left;
		height:30px;
		width:25px;
		left: 120px;
		margin-top: 448px;
			
	}
	
}

